.scrollToTop {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  background-image: url('/img/arrow-top.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
