.blog {
  grid-column: center-start / center-end;
  @include respond(big-laptop) {
    // grid-template-rows: min-content 500px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
