.hero {
  grid-column: center-start / center-end;
  height: 80vh;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;

  // width: 100%;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // align-self: flex-start;
    // height: 100%;
    width: 100%;
    margin-bottom: 12rem;
    // margin-top: 5rem;

    @include respond(big-laptop) {
      width: 75%;
      height: 95vh;
      margin-top: -112px;
    }

    &--par {
      font-size: 2.5rem;
      font-family: $font-alata;
      line-height: 1.5;
      font-weight: 400;
    }

    &--links {
      display: flex;
      margin-top: 5rem;
      font-family: $font-montserrat;
      font-size: 1.6rem;
      font-weight: 500;

      a {
        &:not(:first-child) {
          margin-left: 2rem;
        }
        span {
          text-align: center;
          margin: 0 auto;
          padding: 0;
          transition: all 0.3s ease;
          position: relative;
          &:before,
          &:after {
            left: 0;
            content: '';
            position: absolute;
            bottom: -10px;
            width: 100%;
            height: 2px;
            margin: 6px 0 0;
            transition: all 0.3s ease;
            opacity: 1;
            background-color: darken(orange, 5%);
          }

          &:hover {
            cursor: pointer;

            &:before,
            &:after {
              width: 0;
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

.projects {
  grid-column: center-start / center-end;
  background-color: burlywood;

  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // align-content: center;
  // align-items: center;
  // justify-content: center;
  // max-width: 80%;
  // height: 100%;
  // margin: 0 auto;
  // padding: 0;
  // justify-content: space-between;
  // display: grid;
  // height: 500px;
  @include respond(big-laptop) {
    // grid-template-rows: min-content 500px;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 6rem;

    h2 {
      font-size: 2.9rem;
      font-family: $font-alata;
      font-weight: 400;
      margin-bottom: 20px;
    }

    @include respond(big-laptop) {
      flex-direction: row;
      align-items: center;
    }

    // animation after 992px
    &--icon {
      display: flex;
      align-items: center;
      transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      opacity: 0.5;

      &:hover {
        transform: translate3d(8px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
          rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        opacity: 1;
      }
      p,
      h3 {
        font-family: $font-montserrat;
        font-size: 1.6rem;
        font-weight: 500;
      }
      p {
        display: inline;
        margin: 0;
        margin-left: 1rem;
      }
    }
  }

  &__container {
    @include respond(phone) {
      display: block;
      margin-bottom: 3rem;
      // grid-gap: 3rem;
    }

    @include respond(big-laptop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    flex: 0 0 420px;
    align-items: stretch;
    justify-content: center;
    position: relative;
    // margin-right: 14px;
    // margin-bottom: 14px;
    transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
    border-radius: 4px;

    @include respond(phone) {
      // height: 300px;
      margin-bottom: 3rem;
    }

    @include respond(big-laptop) {
      height: 500px;
    }

    // Pseudo elements ------------------
    &:before {
      content: '';
      visibility: hidden;
      @include absolute(0, 0, 0, 0);
      background: none;
      border-radius: 3px;
      box-shadow: 0 10px 24px 0px rgba(0, 0, 0, 0.06),
        0 8px 20px -2px rgba(0, 0, 0, 0.1), 0 6px 10px -6px rgba(0, 0, 0, 0.2);
      transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
      opacity: 0;
    }

    // CSS state ------------------------
    &:hover::before {
      visibility: visible;
      opacity: 1;
    }

    &--img {
      background-image: url('/img/IAQUA2.png');
      @include absolute(0, 0, 0, 0);
      background-size: cover;
      background-position: top center;
      transform: scale(1);
      will-change: transform;
      transition: transform 0.5s ease;
      z-index: 0;
      transform-style: preserve-3d;
    }

    &--hover {
      visibility: hidden;
      display: block;
      @include absolute(0, 0, 0, 0);
      // background: radial-gradient(
      //   transparentize($background-dark, 0.8),
      //   transparentize($background-dark, 0.3)
      // );
      // box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
      border-radius: 0;
      transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      opacity: 0;
    }

    &--name {
      visibility: hidden;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      align-items: center;
      font-size: 2rem;
      font-weight: 300;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4),
        2px 2px 6px rgba(0, 0, 0, 0.3);
      justify-content: center;
      letter-spacing: 1px;
      transform: scale(0.6);
      transform-origin: center center;
      transition: visibility 0.14s ease-out, opacity 0.14s ease-out,
        transform 0.24s ease;
      opacity: 0;
    }

    a {
      display: flex;
      position: relative;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
      align-items: stretch;
      justify-content: center;
      text-decoration: none;
      color: #eeeeee;
      overflow: hidden;
      height: 100vw;

      &:hover {
        .projects__card--img {
          transform: scale(1.05);
        }

        .projects__card--hover {
          visibility: visible;
          opacity: 1;
        }
        .projects__card--name {
          visibility: visible;
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}

.about {
  grid-column: center-start / center-end;
  padding: 5rem 0;
  background-color: $gray-bg;

  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: min-content 1fr;

  @include respond(big-laptop) {
    padding: 12.5rem 0;
  }

  &__content {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    text-align: center;

    @include respond(big-laptop) {
      grid-column: 1 / 5;
    }
    &--bold {
      font-family: $font-alata;
      font-size: 2rem;
      line-height: 1.9;
    }

    &--thin {
      font-family: $font-montserrat;
      font-size: 1.5rem;
      line-height: 1.8;
      margin-top: 2.2rem;
    }
  }

  &__images {
    grid-column: 2 / 8;
    grid-row: 2 / 3;
    align-self: center;
    margin-top: 3rem;

    @include respond(big-laptop) {
      grid-column: 6 / 8;
    }
  }
}
