.post {
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80vw;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: $color-bw--1;
  color: $color-bw--4;

  &__hero {
    grid-column: center-start / center-end;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;

    &--container {
      margin: 0 auto;

      h1 {
        font-size: $font-h1-title;
        font-family: $font-alata;
        color: $color-bw--4;
      }
    }
  }

  p,
  ul,
  ol {
    font-size: $font-p-lg;
    font-family: $font-montserrat;
    line-height: 32px;
    width: 90%;
    padding: 1rem 0.5rem;

    @include respond(laptop) {
      width: 60%;
    }
  }

  ul {
    & > li {
      margin-left: 2rem;
    }
  }

  a {
    color: $color-bw--4;
    border-bottom: 2px solid $color-bw--4;
    padding-bottom: 2px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
    margin-top: 2rem;
    padding: 0 1rem;
  }

  h1 {
    font-size: $font-h1;
  }

  h2 {
    font-size: $font-h2;
  }

  h3 {
    font-size: $font-h3;
  }

  h4 {
    font-size: $font-p;
  }

  img {
    display: block;
    object-fit: cover;
    margin: 0 auto;
    width: 100%;
    max-width: 50rem;
    padding: 3rem 0;
  }

  .kg-gallery {
    &-container {
      display: grid;
      grid-template-columns: repeat(3, 250px);
      grid-template-rows: repeat(3, 250px);
      justify-content: center;
      align-content: center;
      grid-gap: 10px;
    }

    &-row {
      display: grid;
      grid-gap: 10px;
      img {
        object-fit: cover;
        display: block;
        width: 250px;
        height: 250px;
      }
    }
  }
  .kg-image-card {
    width: 100%;
    img {
      display: block;
      object-fit: cover;
      margin: 0 auto;
    }
  }

  .code-toolbar,
  code {
    width: 60%;
  }

  pre {
    padding: 3rem;
    width: 90%;
    overflow: scroll;
    margin: 0 auto;

    @include respond(laptop) {
      width: 60%;
    }
  }

  blockquote {
    font-size: $font-p;
    width: 55%;
    margin: 50px auto;
    font-family: $font-montserrat;
    font-style: italic;
    color: $color-blockquote-font;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid $color-green;
    line-height: 1.5;
    position: relative;
    background: $color-blockquote-bg;
  }

  blockquote::before {
    font-family: $font-alata;
    content: '\201C';
    color: $color-green;
    font-size: 5rem;
    position: absolute;
    left: 10px;
    top: -10px;
  }

  blockquote::after {
    content: '';
  }
}
