// -----------------------------------------------------------------------------
// This file contains the grid system of the site/application.
// -----------------------------------------------------------------------------

.container {
  position: relative;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include respond(phone) {
    // @include global-paddings($padding-horizontal-phone);
  }
  @include respond(tablet) {
    // @include global-paddings($padding-horizontal-tablet);
  }
  @include respond(laptop) {
    // @include global-paddings($padding-horizontal-laptop);
  }
  @include respond(desktop) {
    // @include global-paddings($padding-horizontal-desktop);
  }
}

@supports (display: grid) {
  .container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns:
      [full-start]
      minmax(2rem, 1fr)
      [center-start]
      repeat(8, [col-start] minmax(min-content, 11rem) [col-end])
      [center-end] minmax(2rem, 1fr) [full-end];

    &__side {
      // grid-column: full-start / center-start;
      background-color: $gray-bg;
      // position: relative;
      // display: block;
      height: 100%;

      &--left {
        background-color: $gray-bg;

        grid-row: 4 / 5;
        height: 100%;
      }
    }
  }
}
