.header {
  position: sticky;
  top: 0;
  width: 100%;
  grid-column: center-start / center-end;
  // padding: 5rem 0;
  height: 112px;
  background-color: beige;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 100;

  &__title {
    width: 30rem;
    margin: 0 auto;
  }
  &__nav {
    &--list {
      display: flex;
      list-style-type: none;
      font-family: $font-montserrat;

      li {
        margin-left: 24px;

        a {
          color: $color-bw--2;
          &:hover {
            color: $color-bw--7;
          }
        }
      }
    }
  }
}
