.header {
  position: sticky;
  top: 0;
  width: 100%;
  grid-column: center-start / center-end;
  // padding: 5rem 0;
  background-color: beige;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1000;

  @include respond(laptop) {
  }

  &__title {
    width: 30rem;
    margin: 0 auto;
  }
  &__nav {
    margin: 0 auto;
    display: flex;
    width: 100%;
    // height: 100%;

    @include respond(laptop) {
      justify-content: flex-end;
      margin: 0;
      height: 112px;
    }
    &--list {
      display: flex;
      list-style: none;
      flex-flow: column nowrap;
      height: 100vh;
      width: 100%;
      justify-content: center;
      position: absolute;
      right: 0;
      // top: 112px;
      top: 0;
      transform: translateY(-100%);
      transition: transform 0.5s ease-in;
      background-color: #fff;

      &.active {
        transform: translateY(0);
        background-color: #fff;
        // height: 100vh;
        // z-index: 10000;
      }

      @include respond(laptop) {
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0;
        top: 0;
        height: 100%;
        width: auto;
        transform: translateY(0);
      }

      li {
        margin-left: 0;
        &:not(:first-child) {
          margin-top: 3rem;
        }

        a {
          font-family: $font-alata;
          font-size: 26px;
          color: $color-bw--6;
        }

        @include respond(laptop) {
          margin-left: 24px;

          &:not(:first-child) {
            margin-top: 0;
          }

          a {
            font-family: $font-montserrat;
            @include fluid-type(14px, 15px);
            font-weight: 500;
            color: $color-bw--2;

            &:hover {
              color: $color-bw--7;
            }
          }
        }
      }
    }
  }
}
