.scrollToTop {
  // width: 10px;
  // height: 10px;
  // background-image: url('../../public/img/iconfinder_arrow-top_4115227.svg');
  // img {
  //   display: flex;
  //   align-items: center;
  //   width: 20px;
  //   height: 20px;
  // }
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  // margin: 15px 3px;
  // border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px !important;
  background-image: url('/img/iconfinder_arrow-top_4115227.svg');
  // background: #f0f0f0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // color: #282828;
  // z-index: 10000;
  // position: relative;
}
