%clearfix {
  // For IE 6/7 (trigger hasLayout)
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 */
%hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}
