/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels

$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
/// $base-url: 'http://cdn.example.com/assets/';

$base-url: '/assets/' !default;

//TYPOGRAPHY
$font-alata: 'Alata', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

$font-h1: 2.5rem;
$font-h2: 2rem;
$font-p-lg: 1.5rem;
$font-p: 1.3rem;
$font-sm: 1.15rem;

//COLORS
$color-black: #000;

$gray-bg: #f4f5f6;
$gray-nav: #8f99a4;

$black-hero: #31363a;
$black-projects: #3e454b;
$black-projects-title: #3f4449;
$black-about: #585f66;
$black-about-light: #697178;

// CARDS
$card-color-header: #0d0d0d;
$card-color-text: #404040;

$card-color-btn-text: #3363ff;
$card-color-btn-background: #e6ecff;

// ANIMATIONS
$transition-fast: 0.2s;
