//TYPOGRAPHY
$font-alata: 'Alata', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

$font-h1-title: 3rem;
$font-h1: 2.5rem;
$font-h2: 2rem;
$font-h3: 1.7rem;
$font-p-lg: 1.5rem;
$font-p: 1.3rem;
$font-sm: 1.15rem;

//COLORS
$color-black: #000;
$color-white: #fff;
$color-green: #1dbc95;

$color-bw--1: #f4f5f6;
$color-bw--2: #8f99a4;
$color-bw--3: #697178;
$color-bw--4: #585f66;
$color-bw--5: #3f4449;
$color-bw--6: #3e454b;
$color-bw--7: #31363a;

$color-vertical-line: #b9b9b9;

// ANIMATIONS
$transition-fast: 0.2s;
